{% extends 'SteriaSolidaClicBundle::page.html.twig' %}

{% block title %}{% trans %}Connexion{% endtrans %}{% endblock %}

{% block page %}
<br/>
<div class="page-content">
    <form action="{{ path("fos_user_security_check") }}" method="post" role="form">
		<input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
		
        <div class="row">
            <div class="col-md-6">
				<div class="cadregris">
				    <h2>{% trans %}Je possède déja un compte{% endtrans %}</h2>
{% if error %}
					<div class="bs-message">
						<div class="alert alert-danger fade in">
							<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
							<h4>{% trans %}Houston, nous avons un problème !{% endtrans %}</h4>
							<p>{{ error|trans }}</p>
						</div>
					</div>
{% endif %}
                    <div class="form-group">
                        <div class="input-group input-group-lg">
                            <span class="input-group-addon glyphicon glyphicon-user"></span>
                            <input type="text" class="form-control" id="username" name="_username" placeholder="{% trans %}Nom d'utilisateur{% endtrans %}" value="{{ last_username }}" required="required" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group input-group-lg">
                            <span class="input-group-addon glyphicon glyphicon glyphicon-lock"></span>
                            <input type="password" class="form-control" id="password" name="_password" placeholder="{% trans %}Mot de passe{% endtrans %}" required="required">
                        </div>
                    </div>
                    <button type="submit" id="_submit" name="_submit" class="btn btn-primary btn-lg btn-block">{% trans %}Se connecter{% endtrans %}</button>
                    <a href="javascript:void(0)" onclick="javascript:history.go(-1);" class="btn btn-default btn-lg btn-block" role="button">
                        {% trans %}Retour{% endtrans %}
                    </a>
                    <div class="pull-left">
                        <div class="checkbox">
							<label class="label-remember">
								<input type="checkbox" id="remember_me" name="_remember_me" value="on"> {% trans %}Rester connecté{% endtrans %}
							</label>
						</div>
                    </div>
                    <div class="pull-right">
                        <a href="{{ path('fos_user_resetting_request') }}" class="btn btn-link" role="button">{% trans %}Mot de passe oublié ?{% endtrans %}</a>
                    </div>
					<div class="clearfix"></div><!-- réinitialisation de la mise en page -->
                </div>
            </div>
			<div class="col-md-6">
				<div class="cadregris">
				    <h2>{% trans %}Je n'ai pas de compte{% endtrans %}</h2>
					<p>{% trans %}Créer un compte SolidaClic est extrêmement simple et ne vous demandera pas plus de 5 minutes.{% endtrans %}</p>
					<p>{% trans %}Un compte SolidaCLic vous permet de :{% endtrans %}</p>
					<ul>
						<li>{% trans %}Créer une demande{% endtrans %}</li>
						<li>{% trans %}Gérer votre profil{% endtrans %}</li>
						<li>{% trans %}Répondre à des demandes{% endtrans %}</li>
						<li>{% trans %}Laisser des commentaires et évaluationse{% endtrans %}</li>
					</ul>
                    <br>
                    <h3>{% trans %}Alors n'attendez plus et créer un compte dès aujourd'hui !{% endtrans %}</h3>
                    <br>
					<p class="text-center">
						<a href="{{ path('fos_user_registration_register') }}" class="btn btn-success" role="button">
                            <span class="glyphicon glyphicon-hand-right"></span> {% trans %}Créer un compte{% endtrans %}
                        </a>
                    </p>
					<div class="clearfix"></div>
				</div>
            </div>
        </form>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                </ol>
                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <div class="item active">
                        <img src="{{ asset('bundles/steriasolidaclic/images/Slides/Slide1.jpg') }}" alt="Premier slide">
                    </div>
                    <div class="item">
                        <img src="{{ asset('bundles/steriasolidaclic/images/Slides/Slide1.jpg') }}" alt="Second slide">
                    </div>
                    <div class="item">
                        <img src="{{ asset('bundles/steriasolidaclic/images/Slides/Slide1.jpg') }}" alt="Troisième slide">
                    </div>
                </div>
                <!-- Controls -->
                <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </div>
        </div>
    </div>
    <div class="spacer">
    </div>
</div>
{% endblock %}